/*
    ==============
   | css variables |
    ==============
*/

:root {
    /* colors */
    --clr-cyan: hsl(185, 75%, 39%); 
    --clr-dark-blue: hsl(229, 23%, 23%);
    --clr-gray-blue: hsl(227, 10%, 46%);

    /* neutral colors */
    --clr-dark-gray: hsl(0, 0%, 59%);
    --clr-white: hsl(0, 0%, 100%);

    /* typography */
    --main-fnt: 'Kumbh Sans', sans-serif;   
}

body {
    background: var(--clr-cyan);
    font-family: var(--main-fnt);
    box-sizing: border-box;
    margin: 0;
    font-size: 18px;
}

/* setting the main container */

#profile-cont {
    width: 90%;
    max-width: 21.88rem;
    position: absolute; /* center the section in the screen*/ 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.profile-card {
    background: var(--clr-white);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
}

/*
    ================
    inside the card 
    ================
*/


/* handling the svg */

.profile-svg svg {
    width: 100%;
    border-radius: 5%;
}

/* -- sizing the images -- */


/* centering and styling the images */

.profile-photo { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -135%);
}

.profile-photo img {
    border-radius: 50%;
    border: solid 0.3125rem #eee;
}



















































.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}