/*
    ==============
   | css variables |
    ==============
*/

:root {
    /* colors */
    --clr-cyan: hsl(185, 75%, 39%); 
    --clr-dark-blue: hsl(229, 23%, 23%);
    --clr-gray-blue: hsl(227, 10%, 46%);

    /* neutral colors */
    --clr-dark-gray: hsl(0, 0%, 59%);
    --clr-white: hsl(0, 0%, 100%);

    /* typography */
    --main-fnt: 'Kumbh Sans', sans-serif;   
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--clr-cyan);
    font-size: 18px;
    font-family: var(--main-fnt);
    overflow: hidden;
}

/* 
    ===================
   |container and card |
    ==================
*/

/* setting the main container */

#profile-cont {
    width: min(90%, 21.88rem);
    position: absolute; /* center the section in the screen*/ 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px 20px;
    box-shadow: 0 0 1.5rem;
}

.profile-card {
    background: var(--clr-white);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: inherit;
}

/*
    ================
    inside the card 
    ================
*/

/* -- handling the svg -- */

.circles img {
    position: absolute;
}

.svg-t {
    top: -28rem;
    left: -18rem;
}

.svg-b {
    bottom: -29rem;
    right: -20rem;
}

.profile-svg img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

/* centering and styling the images */

.profile-photo { 
    position: relative;
    top: 0;
    left: 16%;
    transform: translate(-50%, -50%);
}

.profile-photo img {
    border-radius: 50%;
    border: solid 0.3125rem #eee;
}

/* styling the profile info*/

.profile-info {
    margin: -50px 0 0 0;
    text-align: center;
}

.profile-info span, p:last-child {
    color: var(--clr-dark-gray);
    font-weight: 400;
}

/* styling profile view followers and more details */

.profile-view {
    width:100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    border-top: 1px solid var(--clr-dark-gray);

}

.profile-view div p:last-child {
    color: var(--clr-dark-gray);
    font-size: .9rem;
}

.fnt-700 {
    font-weight: 700;
    margin-bottom: 0;
}


/* the info about the challenge */

.attribution {
    padding: 1rem 0 0 0;
    font-size: 15px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}